header
  position: relative
  box-sizing: border-box
  min-width: 480px
  background: menuColor
  border-bottom: 1px solid darken(menuColor, 30%)
  height: headerHeight
  padding: 10px 10px
  clearfix()
  nav
    #logo
      margin: -3px 0 0 15px
      background: transparent url('/assets/img/logo.png') center no-repeat
      background-size: cover
      -ms-behavior: url('/assets/backgroundsize.htc')
      height: headerHeight
      display: block
      float: left
      height: 30px
      width: 187px
