.infowindow
  min-width: 220px
  height: 200px
  padding-left: 10px

  h1
    font-weight: bold
    margin-left: -10px

  th
    font-weight: bold

  td, th
    padding-top: 5px

  table
    width: 100%

  .timepoint
    float: left
    height: 20px
    width: 20px
    line-height: 20px
    text-align: center
    border-radius: 10px

  .buspoint
    float: left
    height: 14px
    width: 14px
    border-radius: 10px
    margin-left: 3px
