.sidebarOpen
  margin-left: 320px
  aside
    left: 0

aside
  position: absolute
  width: 320px
  left: -320px
  top: 0
  bottom: 0
  box-shadow: 0 0 5px #000
  background: darken(menuColor, 20%)
  z-index: 100
  transition: left .1s linear
  user-select: none
  text-size-adjust: none

  .controls
    border-right: 1px solid darken(menuColor, 30%)
    border-bottom: 1px solid darken(menuColor, 30%)
    box-sizing: border-box
    height: headerHeight
    padding: 10px 10px
    h2
      float: left
      padding: 5px
      margin-left: 5px
      color: #fff
      font-size: 18px

  nav
    overflow: auto
    position: absolute;
    top: 45px
    left: 0px;
    bottom: 0px
    width: 100%

    ul
      border-bottom: 1px solid lighten(menuColor, 5%)

    li.route
      cursor: pointer
      height: 25px
      line-height: 25px
      background: darken(menuColor, 10%)
      display: block
      padding: 10px 15px
      border-top: 1px solid darken(menuColor, 5%)
      border-bottom: 1px solid darken(menuColor, 25%)
      text-decoration: none
      color: #ccc
      overflow: hidden
      transition: all .1s linear
      transition-property: height, background-color
      &:hover
        background: darken(menuColor, 20%)
        .routename
          text-shadow: 0 0 1px #000
          color: #fff
      &.open
        height: 60px
        background: darken(menuColor, 25%)
        border-top: 1px solid darken(menuColor, 40%)
        border-bottom: 1px solid darken(menuColor, 35%)
        .routename
          color: #fff
          .arrow
            top: -10px
            border-left: 5px solid transparent
            border-right: 5px solid transparent
            border-bottom: 5px solid #fff
            border-top: none !important
      .subnav
        margin-top: 10px
        border: none
    .arrow
      position: relative
      left: 5px
      top: 15px
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid #fff

    .schedule
      padding-left: 25px
      font-size: 14px
      color: #fff
      text-decoration: none
      background: transparent url('assets/img/document.png') no-repeat 5px center



.icon {
  cursor: pointer
  float: left
  height: 20px
  width: 18px
  border-radius: 1px
  margin: 4px 8px 0 0px
}

