menuColor = #333

.panel
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 250px;
  height: 100%;
  box-shadow: 0 0 10px #000
  background: menuColor
  z-index: 100

  ul
    border-bottom: 1px solid lighten(menuColor,5%)

  li a
    background: linear-gradient(lighten(menuColor, 1%), darken(menuColor,1%))
    display: block
    padding: 10px
    border-top: 1px solid lighten(menuColor,5%)
    border-bottom: 1px solid darken(menuColor,5%)
    text-decoration: none
    text-shadow: 0 -1px 2px #000
    color: #fff

    &:hover, &:focus
      background: linear-gradient(lighten(menuColor,5%), darken(menuColor,1%))
    &:active
      background: linear-gradient(lighten(menuColor,1%), darken(menuColor,25%))
      border-top-color: darken(menuColor,30%)