aside
  position: absolute
  width: 300px
  top: 0
  left: 0
  bottom: 0
  box-shadow: 0 0 5px #000
  background: menuColor
  z-index: 100
  margin-left: -250px
  display: none;
  overflow-y: scroll

  nav
    ul
      border-bottom: 1px solid lighten(menuColor, 5%)
    li
     height: 25px
     line-height: 25px
     background: linear-gradient(menuColor, darken(menuColor, 10%))
     display: block
     padding: 10px
     border-top: 1px solid lighten(menuColor, 5%)
     border-bottom: 1px solid darken(menuColor, 25%)
     text-decoration: none
     text-shadow: 0 -1px 2px #000
     color: #fff
     &:hover, &:focus, &:active
       background: linear-gradient(menuColor, darken(menuColor, 25%))

header
  z-index: 1000
  top: 0
  position: fixed
  box-sizing: border-box
  width: 100%
  min-width: 480px
  background: linear-gradient(menuColor, darken(menuColor, 10%))
  border-top: 1px solid menuColor
  border-bottom: 1px solid darken(menuColor, 25%)
  height: headerHeight
  padding: 10px 15px;
  clearfix()
  nav
    a
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2)
      cursor: pointer
      text-indent: -9999em
      position: relative
      background-color: #111
      display: block
      height: 26px
      width: 34px
      margin-top: -2px
      border-radius: 2px

      &:after
        content: ""
        position: absolute
        left: 7px
        top: 7px
        width: 20px
        height: 2px
        background: #ccc
        box-shadow: 0 5px 0 0 #ccc,
                    0 10px 0 0 #ccc