aside
  position: absolute
  width: 325px
  top: 0
  left: 0
  bottom: 0
  box-shadow: 0 0 5px #000
  background: menuColor
  z-index: 100
  display: none;
  overflow-y: scroll

  nav
    ul
      border-bottom: 1px solid lighten(menuColor, 5%)
    li
     height: 25px
     line-height: 25px
     background: linear-gradient(menuColor, darken(menuColor, 10%))
     display: block
     padding: 10px 15px
     border-top: 1px solid lighten(menuColor, 5%)
     border-bottom: 1px solid darken(menuColor, 25%)
     text-decoration: none
     text-shadow: 0 -1px 2px #000
     color: #fff
     &:hover, &:focus, &:active
       background: linear-gradient(menuColor, darken(menuColor, 25%))

.icon {
  float: left;
  height: 18px
  width: 18px
  border-radius: 2px
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5)
  margin: 4px 8px 0 0px
}

