<div class="controls">
  <a class="menutoggle">toggle menu</a>
  <input type="button" class="toggleRoutes" value="toggle" style="float:right"/>
  <h2>Settings</h2>
</div>

<nav id="routes">
  <ul>
    {{#each routes}}
    <li class="route {{#if navOn}}open{{/if}}" data-cid="{{id}}">
      <div class="icon" style="background-color:{{color}}"></div>
      <span class="routename">{{name}}</span>
      <div class="menuitem toggle">
        <input type="checkbox" class="routeSwitch" {{#if visible}}checked="checked"{{/if}}/>
        <span class="btn"></span>
        <span class="labels"></span>
        <span class="bg"></span>
      </div>
      <ul class="subnav">
        <li><a href="{{url}}" rel="external" onclick="window.open(this.href);return false">Download Schedule</a></li>
      </ul>
    </li>
    {{/each}}
  </ul>
</nav>
