<nav>
  <ul>
  {{#each routes}}
    <li>
      {{name}}
      <div class="menuitem toggle">
        <input type="checkbox" name="{{abbr}}" id="{{abbr}}" value={{id}} {{#if visible}}checked="checked"{{/if}}/>
        <span class="btn"></span>
        <span class="labels"></span>
        <span class="bg"></span>
      </div>
    </li>
  {{/each}}
  </ul>
</nav>