<nav>
  <h2>Route Control</h2>
  <ul>
    {{#each routes}}
    <li class="route closed" data-cid="{{id}}">
      <div class="icon" style="background-color:{{color}}"></div>
      {{name}}
      <div class="menuitem toggle">
        <input type="checkbox" class="routeswitch" {{#if visible}}checked="checked"{{/if}}/>
        <span class="btn"></span>
        <span class="labels"></span>
        <span class="bg"></span>
      </div>
      <ul class="subnav" {{#if navOn}}class="open"{{/if}}>
        <li><a href="{{url}}">download schedule</a></li>
      </ul>
    </li>
    {{/each}}
  </ul>
</nav>